.primaryNav {
  @apply flex-none w-80 py-3 border-r border-surface-200;

  & > ul > li:not(:first-child) {
    @apply mt-6;
  }

  & ul ul {
    @apply ml-4;
  }

  & li {
    @apply my-3;

    & > a {
      @apply block hover:bg-surface-100 py-2 px-4 transition-colors;
      border-radius: var(--default-rounding);
      & > span {
        display: block;
      }
    }

  }
}

.navGroup {
  @apply relative flex flex-row justify-between items-center bg-surface-100 py-2 px-4 hover:bg-surface-200 transition-colors;
  border-radius: var(--default-rounding);

  & a::after {
    /* .stretched-link */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
  }

  & span svg {
    /* navGroup icon */
    @apply mr-2 text-primary-400;
  }
}

.navActive {
  @apply py-2 px-4 flex flex-row justify-between items-center bg-primary-500 text-white font-medium;
  border-radius: var(--default-rounding);
} 